
                                    <div class="ewf-row cv-section ">
                                        <div class="ewf-span3">

                                            <div class="cv-section-title">

                                                <h1>
                                      						<span>
                                      							<%= position.start_date.year %>
                                      							<small><%= position.start_date.strftime("%B") %></small>
                                      						</span>
                                      						-
                                      						<span>
                                      							Present
                                      							<small></small>
                                      						</span>
                                      					</h1>

                                                <h3><%= position.company %></h3>

                                            </div>
                                            <!-- end .cv-section-title -->

                                        </div>
                                        <!-- end .ewf-span3 -->

                                        <div class="ewf-span9">
                                            <div class="cv-item">
                                                <h3><%= position.title %></h3>
                                                <%= simple_format(position.summary) %>
                                            </div>
                                            <!-- end .cv-item -->

                                        </div>
                                        <!-- end .ewf-span9 -->
                                    </div>
                                    <!-- end .cv-section -->
