<!-- Navigation -->
<div class="homepage">
   <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
       <div class="container">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                   <i class="fa fa-bars"></i>
               </button>
               <a class="navbar-brand page-scroll home home-title" href="#page-top">
                   <i class="fa fa-play-circle"></i> Profiler
               </a>
           </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
               <ul class="nav navbar-nav">
                   <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                   <li class="hidden">
                       <a href="#page-top"></a>
                   </li>
                   <li>
                       <%= link_to "Login", login_path, {:remote => true, class: "page-scroll", "data-target" => "#myModal", "data-toggle" => "modal" } %>
                   </li>
                   <li>
                       <%= link_to "Signup", "#", class: "page-scroll" %>
                   </li>
                   <li>
                       <%= link_to "View Sample", "#", class: "page-scroll" %>
                   </li>
               </ul>
           </div>
           <!-- /.navbar-collapse -->
       </div>
       <!-- /.container -->
   </nav>

   <!-- Intro Header -->
   <header class="intro">
       <div class="intro-body">
           <div class="container">
               <div class="row">
                   <div class="col-md-8 col-md-offset-2">
                       <h1 class="brand-heading">Profiler</h1>
                       <p class="intro-text">A free and easy to use Profile Generator for Software Developers<br>Created by Team Sockets</p>
                       <a href="#about" class="btn btn-circle page-scroll">
                           <i class="fa fa-angle-double-down animated"></i>
                       </a>
                   </div>
               </div>
           </div>
       </div>
   </header>

   <!-- About Section -->
   <section id="about" class="container content-section text-center">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
               <h2>About Profiler</h2>
               <p>Profiler is a free online Profile Generator for Software Developers. It provides a platform for Software Developers to easily create a detailed, professional about me page to showcase their Skillsets anad Projects.</p>
               <p>It's easy to use and setup using your Github or Linkedin Account. You can also <%= link_to "view a sample", "#" %> online profile here.</p>
           </div>
       </div>
   </section>

   <!-- Download Section -->
   <section id="download" class="content-section text-center">
       <div class="download-section">
           <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                   <h2>Download Grayscale</h2>
                   <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                   <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
               </div>
           </div>
       </div>
   </section>

   <!-- Contact Section -->
   <section id="contact" class="container content-section text-center">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
               <h2>Contact Team Socket</h2>
               <p>Feel free to email us to provide some feedback on our site, give us suggestions and your experience using Profiler or just to have a friendly chat.</p>
               <p><a href="mailto:feedback@startbootstrap.com">feedback@teamsocket.com</a>
               </p>
               <ul class="list-inline banner-social-buttons">
                   <li>
                       <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                   </li>
                   <li>
                       <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                   </li>
                   <li>
                       <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                   </li>
               </ul>
           </div>
       </div>
   </section>

   <!-- Map Section -->
   <div id="map"></div>

   <!-- Footer -->
   <footer>
       <div class="container text-center">
           <p>Copyright &copy; Team Socket 2015</p>
       </div>
   </footer>
  <%= render "login_form" %>
</div>
